@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    text-align: center;
    margin: 0 auto;
    white-space: pre-wrap;
    
}


body {
    background-color: #E1F7E2;
    height: 100vh;
    margin-top: -12vh;
}



.logo_first {
    width: 50%;
    margin-top: 10vh;
}
.start_box{
    display: flex;
    flex-direction: row;
    font-family: 'KimjungchulGothic-Bold';
}

.set_btn {
    background-color: antiquewhite;
    font-size: 18px;
    font-weight: 800;
    border-color: rgb(255, 166, 57);
    border-radius: 20px;
    margin-top: 3vh;
    margin-bottom: 7vh;
    font-family:'bitbit';
    padding: 1%;
}


.notice {
    background-color: #FFEBB8;
    border-radius: 30px;
    width: 50vw;
    height: 70vh;
    margin-top: 12vh;
    margin-right: 10vw;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;

}


.notice_text2 {
    opacity: 50%;
}


.nick_text {
    opacity: 30%;
    margin-top: 2vh;
}

/* qna 페이지 */


.qna_div {
    width: 50vw;
    height: 75vh;
    background-color: #f1fff2;
    border-radius: 20px;
    margin-top: 1vh;
    padding: 1%;
    
}
.qna_text {
    font-family: 'TTTtangsbudaejjigaeB' !important;
}



.qna_buttons {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

/* result page */
.result_page {
    margin-top: 10vh;
}
.result_notice {
    font-family: 'TTTtangsbudaejjigaeB' !important;
}

.result_box {
    background-color: white;
    width: 50vw;
    height: 70vh;
    border-radius: 30px;
    text-align: center;
    background-color: #FFEBB8;
}

.result_img {
    margin-top: 5vh;
    border-radius: 30px;
    
}

.result_text {
    font-family: 'TTTtangsbudaejjigaeB';
    margin-top: 5vh;
}
